[DATABASE]
# Configuración de conexión a la Base de Datos
# Puedes editar la URL para conectar a SQLite, PostgreSQL, MySQL o SQL Server (ERP)

# --- Ejemplos de conexión ---
# SQLite (Local):        sqlite:///hmi_logisnext.db
# PostgreSQL:            postgresql://usuario:contraseña@localhost:5432/hmi_logisnext
# MySQL:                 mysql+pymysql://usuario:contraseña@localhost/hmi_logisnext
# SQL Server (Autenticación Windows): mssql+pyodbc://DESKTOP-PMRMSPT\SQLEXPRESS/DAFEED?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes

url = mssql+pyodbc://DESKTOP-PMRMSPT\SQLEXPRESS/DAFEED?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes

[ERP]
# Ruta o nombre del fichero de datos del ERP (ej: DATOSMAST.DAT, NI46SF.DAT)
file_path = C:\Users\franj\OneDrive\Escritorio\COSAS  FRAN\PROYECTOS\JAULA ELEVACION\FICHEROS JAULA\NI46SF.DAT
